@model CryptoManager.Models.GridInputCompraColdModel
<div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <label>Moeda comprada</label>
            </div>
            <div>
                @Html.DropDownList("input-moeda-comprada", Model.ListaMoedas, new { @class = "input-moeda-comprada" })
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <label>Qtd</label>
            </div>
            <div>
                @Html.TextBox("input-qtd-moeda-comprada", "", new { @class = "input-qtd-moeda-comprada" })
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <label>Moeda pagamento</label>
            </div>
            <div>
                @Html.DropDownList("input-moeda-pagamento", Model.ListaMoedas, new { @class = "input-moeda-pagamento" })
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <label>Qtd</label>
            </div>
            <div>
                @Html.TextBox("input-qtd-moeda-pagamento", "", new { @class = "input-qtd-moeda-pagamento" })
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success botao-adicionar-linha-compra-cold" type="button">Adicionar</button>
        </div>
    </div>
</div>
<div>
    <table style="width:100%;" class="table table-striped tabela-input-compra-cold">
        <thead>
            <tr>
                <th width="25%">Moeda comprada</th>
                <th width="17.5%">Qtd moeda comprada</th>
                <th width="25%">Moeda pagamento</th>
                <th width="17.5%">Qtd moeda pagamento</th>
                <th width="17.5%">Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var compra in Model.ListaCompras)
            {
                <tr class="linha-crypto linha-input-compra-cold">
                    <td class="col-moeda-comprada">@compra.SiglaMoedaComprada</td>
                    <td class="col-qtd-moeda-comprada">@compra.QuantidadeMoedaCompradaString</td>
                    <td class="col-moeda-pagamento">@compra.SiglaMoedaUtilizadaNaCompra</td>
                    <td class="col-qtd-moeda-pagamento">@compra.QuantidadeMoedaUtilizadaNaCompraString</td>
                    <td><button class="btn btn-danger botao-remover-linha-compra-cold" type="button">Remover</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>