@model CryptoManager.Models.GridListaCryptosModel
<table style="width:100%;" class="table table-striped tabela-grafico">
    <thead>
        <tr>
            <th width="10%"></th>
            <th width="45%">Crypto</th>
            <th width="45%">Porcentagem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var crypto in Model.Lista)
        {
            <tr class="linha-crypto linha-quantidade-relativa">
                <td>
                    <input type="checkbox" class="checkbox checkbox-crypto-resumo"
                           data-crypto="@crypto.SiglaCrypto" data-valor-double="@crypto.ValorTotalBtcDouble" checked />
                </td>
                <td title="@crypto.NomeCrypto">@crypto.SiglaCrypto</td>
                <td>@(crypto.PercentualRelativo + "%")</td>
            </tr>
        }
    </tbody>
</table>